@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
  background-color: #023535;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.li1 {
  float: left;
}

.li1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li1 a:hover {
  background-color: #015958;
}

.active {
  background-color: #008F8C;
}

h1 {
  color: #0FC2C0;
  font-family: 'Roboto', sans-serif;
  font-size: 8ch;
  text-align: center;
}

h2 {
  color: #0FC2C0;
  font-family: 'Roboto', sans-serif;
  font-size: 4ch;
  text-align: center;
}

h4 {
  color: #43e4e1;
  font-family: 'Roboto', sans-serif;
  font-size: 2ch;
  text-align: center;
  line-height: 0;
}

h5 {
  color: #51eeeb;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5ch;
  text-align : left;
  margin-top: 65px;
}

p {
  color: #51eeeb;
  font-family: 'Montserrat', sans-serif;
  font-size: 2ch;
  text-align : center;
  line-height: 0;
}

a {
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.sec1 {
  text-align: center;
}

.liTitles {
  color: #0FC2C0;
  font-family: 'Montserrat', sans-serif;
  font-size: 4ch;
  text-align : center;
  margin-top: 50px;
}

.button1 {
  background-color: #023535; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1:hover {
  background-color: #0FC2C0;
  color: white;
}

.button1container {
  text-align: center;
}
